#central {
	font-family: helvetica;
	color: black;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-top: 15%;
	margin: auto;
}

#central:hover {
	color: red;
}

#mail{
	font-family: helvetica;
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15%;
}

#back_button{
	font-family: helvetica;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 16%;
	}

#back_button:hover {
	color: red;
}
a {
	text-decoration: none;
}